<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.ts"></script>
    <title>회원가입</title>
  </head>
  <body>
    <h1>회원가입</h1>
  <form name="signup-form" method="post">
    <label for="name"> 이름 : </label><input type="text" id="name" placeholder="이름" /></br>
    <label for="userId"> 아이디 : </label><input type="text" id="userid" placeholder="아이디" /></br>
    <label for="password"> 비밀번호 : </label><input type="text" id="password" placeholder="비밀번호" /></br></br>
    <button type="button" onclick="signup()">회원가입하기</button>
  </form>
  </body>
  <script>
    const form = document.forms['signup-form'];
    async function signup() {
      console.log("버튼")
      const res = await axios({
        method: 'POST',
        url: 'user/register',
        data: {
          name: form.name.value,
          userid: form.userid.value,
          password: form.password.value
        }
      })
    }
  </script>
</html>

